body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;

}

form {
    margin-top: 20px;
}

label, select, input {
    margin-bottom: 10px;
}

.fretboard-image {
    width: 80%; /* or whatever width you prefer */
    margin: 20px auto; /* adds some space around the image and centers it */
    display: block;
}