<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FretWizard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        <style>
        .note-circle {
            display: inline-block;
            width: 20px; /* or any size you want */
            height: 20px; /* or any size you want */
            line-height: 20px; /* same as height */
            border-radius: 50%;
            background-color: #FF0; /* circle color */
            text-align: center;
            color: black; /* text color */
            margin: 2px;
        }
        /* Add additional CSS for the fretboard appearance */
    </style>
</head>
<body>
    <h1>FretWizard</h1>
    <div id="scaleControls">
        <select id="keySelect">
            <option value="">Select Key</option>
            {% for note in all_notes %}
                <option value="{{ note }}">{{ note }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="scaleTypeControls">
        <select id="scaleTypeSelect">
            <option value="major">Major</option>
            <option value="minor">Minor</option>
        </select>
    </div>  

    <table class="fretboard">
        <thead>
            <tr>
                <th></th> <!-- Placeholder for string labels -->
                {% for fret in range(15) %}
                    <th>{{ fret }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for string in default_tuning %}
                <tr>
                    <td>
                        <select class="note-input" data-string="{{ loop.index0 }}">
                            <option value="">Select Note</option>
                            {% for note in all_notes %}
                                <option value="{{ note }}" {% if string == note %}selected{% endif %}>{{ note }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    {% for fret in range(15) %}
                        <td class="string-container" data-note="{{ get_note_at_fret(string, fret) }}"></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="text-align: left;">
        <button id="addStringButton" style="margin-top: 10px;">Add String</button>
    </div>
</body>
</html>