<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FretWizard</title>
</head>
<body>
    <h1>Welcome to Kyle's FretWizard!</h1>
    <p>Select your instrument to get started:</p>

    <form action="/" method="post">
        <select name="instrument">
            <option value="guitar">Guitar</option>
            <option value="mandolin">Mandolin</option>
            <option value="banjo">Banjo</option>
        </select>
        <input type="submit" value="Select Instrument">
    </form>

    {% if tuning_options %}
    <form action="/fretboard" method="post">
        {% for string in tuning_options %}
            <label>{{ string }}:</label>
            <input type="text" name="tuning[]" value="{{ string }}" size="2">
            <br>
        {% endfor %}
        <input type="submit" value="Confirm Tuning">
    </form>
{% endif %}


</body>
</html>
