<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FretWizarddd</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
    <h1>🎸 Welcome to the FretWizard! 🎸</h1>
    <h4>🎵 Jamming together: Kai & AI 🤖🎵</h4>

    <script>
    // Check if the animation has already been played in this session
        if (!sessionStorage.getItem('animationPlayed')) {
    // If not, play the animation (assuming it's set in your CSS by default)
    
    // After the animation duration (2 seconds in this case), remove the animation
            setTimeout(function() {
                document.querySelector("h1").style.animation = "none";
            }, 2000); // 2000 milliseconds = 2 seconds

    // Set the animationPlayed item in sessionStorage to true
        sessionStorage.setItem('animationPlayed', 'true');
        } else {
    // If the animation has already been played, ensure it doesn't play again
        document.querySelector("h1").style.animation = "none";
        }
    </script>

    <p>Select your instrument to get started:</p>
    
    
    <form action="/" method="post">
        <select name="instrument" required>
            <option value="" disabled selected>Choose...</option>
            <option value="guitar">Guitar</option>
            <option value="bass">Bass</option>
            <option value="mandolin">Mandolin</option>
            <option value="banjo">Banjo</option>
        </select>
        <input type="submit" name="action" value="Select Instrument">
    </form>

    <form action="/fretboard" method="post">
        <input type="hidden" name="instrument" value="{{ instrument }}">
        ...
    </form>
     
    
    {% if tuning_options %}
        <form action="/" method="post">
            <p>Modify Tuning if needed:</p>
            {% for string in tuning_options %}
                <div>
                    <input type="text" name="tuning[]" value="{{ string }}" size="2" maxlength="2">
                </div>
            {% endfor %}
            <!-- Hidden input to store the selected instrument's value -->
            <input type="hidden" name="instrument_hidden" value="{{ instrument }}">
            <input type="submit" name="action" value="Confirm Tuning">
        </form>
    {% endif %}

    

<img src="{{ url_for('static', filename='images/fretboard_photo.jpg') }}" alt="Fretboard Photo" class="fretboard-image">


</body>
</html>
